<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
</head>
<body>
    <h1>File Uploader</h1>
    <% if(currentUser) { %>
        <p>Welcome, <%= currentUser.name %></p>
        <a href="/log-out"><button>Log out</button></a>
    <%} else { %>
        <p>You are not logged in.</p>
        <a href="/log-in"><button>Log in</button></a>
        <a href="/sign-up"><button>Sign up</button></a>
    <% } %>
    
</body>
</html>